.checkbox
  color: rgba(0, 0, 0, 0.8)
  cursor: pointer
  display: block
  font-weight: 200
  padding-left: 1.5em
  position: relative
  margin-bottom: 12px
  user-select: none

  & input
    cursor: pointer
    opacity: 0
    position: absolute

  & .checkmark
    background-color: #eee
    border-radius: 2px
    height: 1em
    left: 0
    position: absolute
    top: 0.3em
    width: 1em

  &:hover input ~ .checkmark
    background-color: #ccc

  & input:checked ~ .checkmark
    background-color: #2196F3

  & .checkmark:after
    content: ""
    position: absolute
    display: none

  & input:checked ~ .checkmark:after
    display: block

  & .checkmark:after
    left: 0.36em
    top: 0.2em
    width: 0.2em
    height: 0.4em
    border: solid white
    border-width: 0 0.1em 0.1em 0
    transform: rotate(45deg)
