html {
  font-size: 24px;
  min-width: 600px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#mount {
  margin: auto;
  padding-top: 1em;
  min-width: 500px;
}

h1 {
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 0.5em;
  user-select: none;
  -moz-user-select: none;
}

.emoji-label {
  margin: 0.2em;
}

.page {
  display: block;
  left: 50%;
  max-width: 600px;
  padding-top: 2em;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1;
}

.title {
  vertical-align: middle;
}

.active {
  opacity: 1;
}

#status {
  bottom: 10px;
  left: 50%;
  padding-top: 20px;
  position: fixed;
  transform: translateX(-50%);
}
