doctype html
html(lang="en" )
  head
    title Favioli
    link(rel="stylesheet" href="./index.css")
    link(rel="icon" type="image/png" href="/assets/icons/32.png")
    meta(charset="utf-8")

  body
    div.page
      div.page-content
        img(src="/assets/icons/256.png")
        h1.favioli Favioli
        h2.favioli-subtitle Emoji Favicons for the web

    div.page
      div.page-content
        img.comparison(src="/assets/screenshots/comparison.png")

    div.page
      div.page-content
        h1
          a(href="https://chrome.google.com/webstore/detail/favioli/pnoookpoipfmadlpkijnboajfklplgbe")
            img.chrome(src="/assets/icons/chrome-web-store.png")
            div.download Download Now

  script(src="vendor/debounce.js")
  script(src="vendor/observable.js")
  script(src="vendor/pixi.js")
  script(type="module") import "./source/index.js";
