doctype html
html(lang="en")
  head
    title Favioli
    meta(charset="utf-16")
    link(rel="stylesheet" href="options.css")
    link(rel="icon" type="image/png" sizes="256x256" href="")

  body
    h1 Settings

    div.settings
      div
        label.checkbox Replace all favicons
          input#replace-all(type="checkbox")
          span.checkmark

      div
        label.checkbox Replace current favicon while typing
          input#on-typing(type="checkbox")
          span.checkmark

    div.submit
      button#save save
      div#status

  script(src="options.js")
