doctype html
html(lang="en")
  head
    title Favioli
    meta(charset="utf-16")
    link(rel="stylesheet" href="options.css")

  body
    h1 Custom Replacements
    div.overrides

    div.submit
      button#save save
      div#status
  script(src="options.js")
  script(src="contentScript.js")
