doctype html
html(lang="en")
  head
    title Favioli
    meta(charset="utf-8")
    link(rel="stylesheet" href="options.css")
    include components/icon.pug

  body
    div#mount
  script(src="options.js")
