doctype html
html(lang="en")
  head
    title Favioli
    meta(charset="utf-8")
    link(rel="stylesheet" href="options.css")
    include components/icon.pug

  body
    nav
      ul
        li.title 🤯
        li: a.navlink(href="#overrides") Overrides
        li: a.navlink(href="#settings") Settings

    div.page.overrides
      h1 Overrides
      div.override-inputs

      div.submit
        button.save save

    div.page.settings
      h1 Settings
      div.checkbox
        label.help Flag Replaced Favicons
        input#flag(type="checkbox" name="flag")
        div.checkmark

      div.submit
        button.save save

  div#status
  script(src="options.js")
  script(src="contentScript.js")
