doctype html
html(lang="en")
  head
    title Settings
    link(rel="stylesheet" href="https://unpkg.com/wingcss")

  body
    div
      label Replace all favicons
        input#replace-all(type="checkbox")

    div
      label Replace favicon on typing
        input#on-typing(type="checkbox")
    div
      button#save save
      div#status

  script(src="options.js")
