@import "stylesheets/reset.styl"
@import "stylesheets/checkbox.styl"
@import "stylesheets/saveButton.styl"
@import "stylesheets/nav.styl"

html
  min-width: 600px

body
  margin: auto
  padding-top: 1em
  min-width: 500px

h1
  font-weight: 300
  font-size: 2em
  margin-bottom: 0.5em
  user-select: none

.submit
  display: inline-block
  position: relative
  margin-top: 2em
  padding: 0

#status
  font-size: 0.7em
  padding-top: 20px

.site-selector
  background-color: #eee
  border: none
  border-radius: 2px
  color: rgba(0, 0, 0, 0.8)
  cursor: text
  display: inline-block
  font-weight: 300
  font-size: 1em
  height: 1.3em
  line-height: 1
  padding-left: 0.2em
  position: relative
  transition: ease background 0.2s
  vertical-align: middle
  width: 75%
  z-index: 1
  &:hover, &:focus
    background: #ddd

.emoji-label
  margin: 0.2em

.remove-button
  border: none
  color: rgba(0, 0, 0, 0.4)
  cursor: pointer
  font-size: 0.5em
  transition: ease color 0.2s
  vertical-align: middle
  &:hover
    color: rgba(0, 0, 0, 0.8)

.page
  display: none
  left: 50%
  max-width: 600px
  padding-top: 2em
  position: absolute
  top: 0
  transform: translateX(-50%)
  width: 100%
  z-index: -1

.title
  vertical-align: middle

.active
  opacity: 1

#status
  position: fixed
  left: 50%
  transform: translateX(-50%)
  bottom: 10px
