@import "stylesheets/reset.styl"
@import "stylesheets/checkbox.styl"
@import "stylesheets/saveButton.styl"

html
  min-width: 600px

body
  max-width: 500px
  margin: auto
  padding-top: 1em

h1
  font-weight: 300
  font-size: 3em
  margin-bottom: 0.5em

.submit
  padding-top: 2em

#status
  font-size: 0.7em
  padding-top: 20px
